Source: ynew
Priority: optional
Maintainer: Salvo 'LtWorf' Tomaselli <tiposchi@tiscali.it>
Homepage: https://github.com/ltworf/ynew
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8

Package: ynew
Architecture: all
Depends: ${misc:Depends}, qdbus, yakuake,
Recommends: bash-completion
Description: Open a named yakuake tab and runs a script in it
