[Desktop Entry]
Name=Trabucco
GenericName=Trabucco desktop launcher
Comment=Launches applications and bookmarks
Exec=trabucco
Icon=trabucco
Terminal=0
Type=Application
Categories=Utility;
Keywords=launcher;application
